.bgColor{
    background: linear-gradient(rgb(164, 159, 159),white);
    h1{
        font-family: GloomyThings;
    }
    h2{
        font-family: coutore;
    }
    p{
        font-family: NugiaVintage;
    }
    a{
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
}
.boton-enviar{
    p{
    color: black;
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
}
.img-comiendo{
    padding: 10px;
}




